<!-- gifs-side-menu-header -->
<div id="profile" class="px-6 py-10">
  <p class="text-slate-500">Welcome back,</p>
  <a href="#" class="inline-flex space-x-2 items-center">
      <span>
          <img class="rounded-full w-8 h-8" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs1OtM7dKWRBrkYKSSnldgGFOYJicEf-PpieXLBgTepd2TYEGWFViCaGKBv4Ei1BbvNiq7Fcr61tCbd26Exzgl0O0rsq2J6wE9KMSuNBU&s=10" alt="">
      </span>
      <span class="text-sm md:text-base font-bold">
          Jeremy Salas
      </span>
      </a>
  </div>