<h1>Dragon Ball</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6">
    <h2>Add: {{ name() }} - {{ power() }}</h2>

    <!-- 
    [value] -> es el valor que tendra el input
    (change) -> se hara el evento entre comillas cada vez que se termina de llenar el input
    (input) -> se hara el evento entre comillas cada vez que se haga el minimo cambio dentro del input
    #cont -> es una autoreferencia (constante del objeto input - se puede acceder a todos sus atributos)
    -->
    <input
    type="text"
    class="form-control"
    placeholder="Name"
    [value]="name()"
    (change)="name.set(txtName.value)"
    #txtName>

    <input
    type="number"
    class="form-control"
    placeholder="Power"
    [value]="power()"
    (input)="power.set(numPower.value)"
    #numPower>

    <button class="mt-2 btn btn-primary">Add</button>
  </div>

  <div class="col-12 col-sm-6">
    <ol>
      @for (character of characters(); track character.id) { <!-- track es para el indice de order list (ol) -->
        <!-- @if lo que hace es literalmente crear los elemento si se cumple la condicion -->
        @if (character.power > 500) {
          <!-- [class.name_class] hace que se agrege la clase despues del punto si se cumple un condicional-->
          <li>{{ character.name }} - <strong
            [class.text-danger]="character.power > 9000"
            [class.text-primary]="character.power < 9000">
            {{ character.power }}</strong>
          </li>
        } @else {
          <li><strong><span
            [class.not-important]>
            Not important character: </span>
            ({{ character.name }} - {{ character.power }})
          </strong></li>
        }
      }
    </ol>
  </div>
</section>